@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
:root{
    --cor1: #16302B;
    --cor2: #E3DC95;
    --cor3: #AF935E;
    --cor4: #7B4926;

    --fontepadrao: Arial, Helvetica , sans-serif;
    --fontetitulo:"Italianno", sans-serif;
    --fonte-p:"Parkinsans", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}
header{
    background-color: var(--cor1);
    position: relative;
    padding: 5px;
}
header > h1{
    color: white;
    text-align: center;
    font: normal 6em var(--fontetitulo);
}
header > p{
    color: white;
    text-align: center;
    font-family: var(--fonte-p);
    font-size: 1em;
    font-weight: lighter;
    position: absolute;
    top:69%; left: 49%;
}

body{
    background-image: url(imagens/imagem-topo.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

main{
    background-color: white;
    width: 100%;
    margin: 300px 0;
}

